
<div class="bg-light p-5">
  <h4 class>プロフィール編集</h4>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field mb-3">
        <% if current_user.avatar.attached? %>
          <span class="mr-3">
            <%= image_tag(current_user.avatar, class: 'profile-icon') %>
          </span>
        <% else %>
          <span class="mr-3">
            <%= link_to image_tag("default_user.png", class: 'profile-icon'), "#{profile_path(current_user)}", data: { turbolinks: false } %>
          </span>
        <% end %>

        <%= f.file_field :avatar %>
      </div>

      <div class="mb-3">
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: "equal-width", autofocus: true %>
        </div>
      </div>

      <div class="mb-3">
        <div class="field">
          <%= f.label :email %><br>
          <%= f.email_field :email, class: "equal-width", autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="mb-3">
        <div class="field">
          <%= f.label :self_introduction %><br>
          <%= f.text_area :self_introduction, class: "equal-width", autofocus: true %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <br>

      <div class="actions mb-3">
        <%= f.submit "更新", class: "equal-width" %>
      </div>
    <% end %>
  </div>






