
<div class="card-bg text-main p-5">
  <p class="cp_rule_1">プロフィール編集</p>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field my-4">
        <% if current_user.avatar.attached? %>
          <span class="mr-3">
            <%= image_tag(current_user.avatar, class: 'profile-icon') %>
          </span>
        <% else %>
          <span class="mr-3">
            <%= image_tag("default_user.png", class: 'profile-icon') %>
          </span>
        <% end %>

        <%= f.label :avatar, "画像をアップロード", class: "btn-lg bg-btn text-decoration-none" %>
        <%= f.file_field :avatar, class: "image_form" %>

      </div>

      <div class="mb-4">
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name, class: "equal-width custom-input", autofocus: true %>
        </div>
      </div>

      <div class="mb-4">
        <div class="field">
          <%= f.label :email %><br>
          <%= f.email_field :email, class: "equal-width custom-input", autofocus: true, autocomplete: "email" %>
        </div>
      </div>

      <div class="mb-4">
        <div class="field">
          <%= f.label :self_introduction %><br>
          <%= f.text_area :self_introduction, class: "equal-width custom-input", autofocus: true %>
        </div>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <br>

      <div class="actions text-center mb-3">
        <%= f.submit "更新", class: "btn-lg bg-btn text-decoration-none" %>
      </div>
    <% end %>
  </div>






