<tr id="comment-<%= comment.id %>">
  <td style="width: 60px">
    <% if comment.user.avatar.attached? %>
      <p>
        <%= link_to image_tag(comment.user.avatar, class: 'profile-icon'), "#{profile_path(comment.user)}" %>
      </p>
    <% else %>
      <p>
        <%= link_to image_tag("default_user.png", class: 'profile-icon'), "#{profile_path(comment.user)}" %>
      </p>
    <% end %>
  </td>
  <td>
    <%= link_to comment.user.name, profile_path(comment.user), class: "small text-main" %>
    <div id="js-comment-<%= comment.id %>" class="mt-2 text-main cp_rule_2">
      <%= render "comments/js_comment", comment: comment %>
    </div>
  </td>

  <% if current_user.own?(comment) %>
    <td class="action">
      <ul class="list-inline justify-content-center" style="float: right;">
        <li class="list-inline-item">
          <span data-comment-id=<%= comment.id %> class="js-edit-comment-button">
            <i class="fas fa-edit fa-lg" style="color: #7f5af0;"></i>
          </span>
        </li>
        <li class="list-inline-item">
          <%= link_to comment_path(comment),
                      method: :delete,
                      remote: true do
          %>
            <i class="fa-solid fa-trash fa-lg" style="color: #7f5af0;"></i>
          <% end %>
        </li>
        <li>

        </li>
      </ul>
    </td>
  <% else %>
    <td></td>
  <% end %>
</tr>
