
  <div class="text-center mb-3">
    <% if controller_name != 'sessions' %>
      <%= link_to "ログイン", new_session_path(resource_name), class: "btn-lg bg-btn text-decoration-none" %>
    <% end %>
  </div>

  <div class="text-center">
    <p class="head-border">OR LOG IN WITH</p>
  </div>


  <div class="text-center mb-4">
    <% if controller_name != 'users/sessions' %>
      <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "btn-lg bg-btn text-decoration-none" %>
    <% end %>
  </div>


  <% if devise_mapping.omniauthable? %>
  <div class="text-center mt-3 mb-3">
      <%= button_to "Googleでログイン", omniauth_authorize_path(:user, :google_oauth2), class: "btn-lg bg-btn text-decoration-none" %>
  </div>

  <div class="text-center mb-3">
      <%= button_to "Twitterでログイン", omniauth_authorize_path(:user, :twitter), class: "btn-lg bg-btn text-decoration-none" %>
  </div>
  <% end %>


  <div class="text-center mb-3">
    <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
      <%= link_to "パスワードを忘れた方はこちら", new_password_path(resource_name), class: "btn-lg bg-btn text-decoration-none" %>
    <% end %>
  </div>

