<div class="container-fluid p-0">
  <div class="col text-center p-0">
    <p><%= user.name %></p>
    <div class="font-sm">
      <div class="d-flex justify-content-center text-center">
        <p class="mr-3"><%= user.followings.count %><span class="text-muted">フォロー中</span></p>
        <p><%= "#{user.followers.count}" %><span class="text-muted">フォロワー</span></p>
      </div>
    </div>
    <p><%= "#{user.self_introduction}" %></p>
    <% if user != current_user %>
      <% if current_user.following?(user) %>
        <%= link_to "フォロー外す", user_relationships_path(user.id), method: :delete %>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(user.id), method: :post %>
      <% end %>
    <% end %>
  </div>
</div>
