<div class="bg-light p-3">
  <% if users.exists? %>
    <% users.each do |user| %>
      <div class="form-inline">
        <span>
          <%= link_to profile_path(user), data: {turbolinks: false} do %>
            <% if user.avatar.attached? %>
              <%= image_tag(user.avatar, class: "icon_mini") %>
            <% else %>
              <%= image_tag("default_user.png", class: "icon_mini") %>
            <% end %>
            <strong>
              <%= user.name %>
            </strong>
          <% end %>
          <span class="ml-2"><%= render "follow_btn", user: user %></span>
        </span>
      </div>
      <div class="mt-2">
        <%= user.self_introduction %>
      </div>

      <hr>
    <% end %>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>
</div>
