<%= render "devise/shared/error_messages", resource: resource %>
<div class="bg-light p-3">
  <h4 class="my-2">パスワード再設定</h4>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

    <div class="field my-3">
      <%= f.label :email %><br/>
      <%= f.email_field :email, autofocus: true, style: 'width: 55%;', autocomplete: "email" %>
    </div>
    <div class="actions mb-3">
      <%= f.submit "パスワード再設定のメールを送信する" %>
    </div>
  <% end %>
</div>
