<div class="mb-3">
  <% answers.each do |answer| %>
    <div class="container mb-3 bg-light">
      <div class="d-flex flex-wrap pt-2">
        <%= link_to profile_path(answer.user), data: { turbolinks: false } do %>
          <% if answer.user.avatar.attached? %>
            <%= image_tag(answer.user.avatar, class: 'profile-icon-default') %>
          <% else %>
            <%= image_tag("default_user.png", class: 'profile-icon-default') %>
          <% end %>
          <span class="equal-color mx-2"><%= answer.user.name %></span>
        <% end %>
        <%= link_to "#{answer.created_at.strftime('%Y/%m/%d') }", answer_path(answer), class: "equal-color mt-1", data: { turbolinks: false } %>
      </div>
      <%= link_to answer_path(answer), data: { turbolinks: false } do %>
        <p class="equal-color my-3"><%= "スコア#{answer.score}点" %></p>
        <p class="equal-color my-3"><%= "達成率#{Answer.success_result(answer)}/15" %></p>
      <% end %>
      <div class="d-flex flex-wrap">
        <div id="favorite_btn_<%= answer.id %>" class="equal-color">
          <%= render "favorites/btn", answer: answer %>
        </div>

        <div class="ml-3 mb-3">
          <% if answer.commented?(answer.user) %>
            <i class="fa-regular fa-comment"></i> <%= answer.comments.count %>
          <% else %>
            <i class="fa-regular fa-comment"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
