<div class="mb-3">
  <% answers.each do |answer| %>
    <div class="container p-3 mb-3 card-bg">
      <div class="mx-auto">
        <div class="d-flex justify-content-center">
          <%= link_to profile_path(answer.user) do %>
            <% if answer.user.avatar.attached? %>
              <%= image_tag(answer.user.avatar, class: 'profile-icon-default') %>
            <% else %>
              <%= image_tag("default_user.png", class: 'profile-icon-default') %>
            <% end %>
            <span class="mx-2 text-main cp_rule_2"><%= answer.user.name %></span>
          <% end %>
          <span class="app-name cp_rule_2 mx-1 mt-1">MONK Lv. <%= answer.user.level %></span>
        </div>
      </div>
      <div class="text-center">
        <%= link_to answer_path(answer) do %>
          <p class="my-3 text-main cp_rule_2"><%= "#{answer.created_at.strftime('%Y/%m/%d') }" %></p>
          <p class="my-3 text-main cp_rule_2"><%= "経験値#{answer.score}Exp" %></p>
          <p class="my-3 text-main cp_rule_2"><%= "達成率#{Answer.success_result(answer)}/15" %></p>
        <% end %>
      </div>
        <div class="mx-auto">
          <div class="d-flex justify-content-center">
            <div id="favorite_btn_<%= answer.id %>" class="text-main">
              <%= render "favorites/btn", answer: answer %>
            </div>

            <div class="ml-3 mb-3">
              <% if answer.commented?(answer) %>
                <i class="fa-solid fa-comment" style="color: #7f5af0;"></i>
                <span class="text-main">
                  <%= answer.comments.count %>
                </span>
              <% else %>
                <i class="fa-regular fa-comment" style="color: #7f5af0;"></i>
                <span class="text-main">
                  0
                </span>
              <% end %>
            </div>
          </div>
        </div>
    </div>
  <% end %>
</div>
