<% answers.each do |answer| %>
  <%= link_to answer_path(answer) do %>
    <%= "日付: #{answer.created_at.strftime('%Y/%m/%d') }" %><br>
    <%= "作成者: #{answer.user.name}" %><br>
    <%= "スコア: #{answer.score}点" %><br>
    <%= "達成率: #{Answer.success_result(answer)}/15" %><br>
    <div id="favorite_btn_<%= answer.id %>">
      <%= render "favorites/btn", answer: answer %>
    </div>
    <br>
    <br>
  <% end %>
<% end %>