<div class="listings">
  <div class="listings_channels ml-3">
    <h3 class="listings_header mb-3">アカウント</h4>
    <ul class="channel_list">
      <div class="mb-3">
        <%= sidebar_link_item('プロフィール', profile_path(current_user)) %>
      </div>
      <div class="mb-3">
        <%= sidebar_link_item('アカウント設定', edit_user_registration_path) %>
      </div>
      <div class="mb-3">
        <%= sidebar_link_item('通知一覧', notifications_path) %>
      </div>
      <div class="mb-3">
        <%= sidebar_link_item('フォロワー', user_followers_path(current_user)) %>
      </div>
      <div class="mb-3">
        <%= sidebar_link_item('フォロー', user_followings_path(current_user)) %>
      </div>
    </ul>
  </div>
</div>
