
<div class="row">
  <div class="col-lg-6 offset-lg-3 text-center mt-3">
    <div class="text-center text-main cp_rule_1 pt-3 pb-4 mb-5">
      <div class="col-lg mb-2">
        <h1 class="app-name">MONKMODE</h1>
      </div>

      <div class="col-lg mb-2 cp_rule_2">自分の足を引っ張る余計なものを徹底的に排除し結果を出すための生活を徹底するライフスタイル</div>

      <div class="col-lg mb-2 cp_rule_2">ライフスタイルを習慣化するサービスです。</div>

      <div class="col-lg mb-3 cp_rule_2">
        自分の夢・目標を叶えて人生を切り開こう
      </div>

      <div class="col-lg">
        <%= link_to "挑戦する", new_user_session_path, class: "btn-lg bg-btn text-decoration-none" %>
      </div>
    </div>

    <div class="text-main mb-5">
      <span class="cp_rule_1 head-border">使い方</span>
    </div>

    <div class="card-se-bg text-main mb-5 p-3">
      <span class="cp_rule_1"><span class="text-hi">①</span>MONKMODEの概要を確認</span>
      <div class="cp_rule_2 mt-3">まずはMONKMODEの狙い・効果などを把握する</div>
      <%= image_tag "pages_show_top.png", class: "mt-3" %>
    </div>

    <div class="card-se-bg text-main mb-5 p-3">
      <span class="cp_rule_1"><span class="text-hi">②</span>MONKMODEのルール設定</span>
      <div class="cp_rule_2 mt-3">自分の生活に合わせてルールを設定しよう</div>
      <%= image_tag "rule_top.png", class: "mt-3" %>
    </div>

    <div class="card-se-bg text-main mb-5 p-3">
      <span class="cp_rule_1"><span class="text-hi">③</span>振り返り機能</span>
      <div class="cp_rule_2 mt-3"><span class="text-hi">①</span>で設定したルールを守れているか質問に回答する</div>
      <%= image_tag "answer_new_top.png", class: "mt-3" %>
    </div>

    <div class="card-se-bg text-main mb-5 p-3">
      <span class="cp_rule_1"><span class="text-hi">④</span>振り返り結果</span>
      <div class="cp_rule_2 mt-3"><span class="text-hi">②</span>の回答結果を記録して閲覧することができる</div>
      <%= image_tag "answer_show_top.png", class: "mt-3" %>
    </div>

    <div class="card-se-bg text-main mb-5 p-3">
      <span class="cp_rule_1"><span class="text-hi">⑤</span>やり込み要素</span>
      <div class="cp_rule_2 mt-3"><span class="text-hi">②</span>の振り返りをすることでレベルが上がる</div>
      <%= image_tag "profile_top.png", class: "mt-3" %>
    </div>
  </div>
</div>