<div class="offset-1 p-1 col-10 bg-light">
  <div>
    <span class="font-weight-bold">お名前:</span>
    <span class="ml-5"><%= @contact.name %></span>
  </div>

  <div class="mt-3">
    <span class="font-weight-bold">メッセージ:</span>
    <span class="ml-3"><%= @contact.message %></span>
  </div>

  <%= form_for(@contact) do |f| %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :message %>
    <div class="mt-3"><%= f.submit '送信' %></div>
  <% end %>

  <%= form_for @contact, url: back_path do |f| %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :message %>
    <div class="mt-3"><%= f.submit '入力画面に戻る' %></div>
  <% end %>
</div>
