<div class="text-main">
  <div class="card-bg p-3">
    <p class="mb-4 cp_rule_1 text-decoration"> ご意見・お問い合わせ</p>
    <%= form_for(@contact, url: confirm_path) do |f| %>
      <div class="form-group">
        <%= f.label :name, 'お名前' %>
        <%= f.text_field :name, class: 'equal-width custom-input' %>
      </div>

      <div class="form-group">
        <%= f.label :message, 'メッセージ' %><span class="small ml-1 text-secondary">※返信が必要な場合にはメールアドレスを入力してください</span>
        <%= f.text_area :message, class: 'custom-textarea' %>
      </div>

      <div class="text-center">
        <%= f.submit '入力内容確認', class: "btn-lg bg-btn text-decoration-none" %>
      </div>
    <% end %>
  </div>
</div>