<div class="col-12 bg-light p-1">
  <%= form_tag rules_update_path, method: :patch do %>
    <%= submit_tag "更新", class: "my-2 equal-width" %>
    <% @rules.each_with_index do |rule, i| %>
      <div class="my-1">
        <% if rule.rule_title == "" && rule.rule_type_id == true %>
          <span class="text-q"><%= "Q#{i+1}." %></span><%= text_field_tag "rule[content][#{rule.id}]", rule.rule_content, maxlength: 50, style: 'width: 55%;', placeholder: "自由に設定可能", class: "required"  %><br>
        <% elsif rule.rule_type_id == true %>
          <span class="text-q"><%= "Q#{i+1}." %></span><%= text_field_tag "rule[content][#{rule.id}]", rule.rule_content, maxlength: 3, size: 3, placeholder: "半角数字のみ入力可", pattern: "^[1-9][0-9]*", class: "required" %>
          <%= rule.rule_title %><br>
        <% else %>
          <span class="text-q"><%= "Q#{i+1}."%></span><%= rule.rule_title %><br>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
