<!DOCTYPE html>
<html>
  <head>
    <title>MonkmodeApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cal-heatmap/3.6.2/cal-heatmap.min.js"></script>

  </head>

  <body style="background-color: #2B546A;">
    <script>
        document.addEventListener('turbolinks:load', function() {
          document.querySelectorAll('a').forEach(function(element) {
            element.setAttribute('data-turbolinks', 'false');
          });
        });
    </script>
    <header class="sticky-top">
      <%= render "shared/header" %>
    </header>

    <div class="container-fluid">
      <div class="row">
        <% if user_signed_in? %>
          <% if (controller_name == 'answers' && ['new', 'index', 'show'].include?(action_name)) || (controller_name == 'rules' && ['index'].include?(action_name)) %>
            <div class="col-2 p-0">
              <%= render 'shared/answer_sidebar' %>
            </div>
            <div class="col-8 p-0 offset-1 mt-3">
              <%= render 'shared/flash_message' %>
              <%= yield %>
            </div>
          <% elsif (controller_name == 'profiles' && ['show'].include?(action_name)) || (controller_name == 'registrations' && ['edit'].include?(action_name)) || (controller_name == 'notifications' && ['index'].include?(action_name)) || (controller_name == 'relationships' && ['followings', 'followers'].include?(action_name)) %>
            <div class="col-2 p-0">
              <%= render'shared/profile_sidebar' %>
            </div>
            <div class="col-8 p-0 offset-1 mt-3">
              <%= render 'shared/flash_message' %>
              <%= yield %>
            </div>
          <% else %>
            <div class="col-8 p-0 offset-2 mt-3">
              <%= render 'shared/flash_message' %>
              <%= yield %>
            </div>
          <% end %>
        <% else %>
          <div class="col-8 p-0 offset-2 mt-3">
            <% if (controller_name == 'pages' && ['index'].include?(action_name)) %>
              <% if flash.any? %>
                <%= render 'shared/flash_message' %>
              <% end %>
              <%= yield %>
            <% else %>
              <% if resource.errors.any? %>
                <%= render "devise/shared/error_messages", resource: resource %>
              <% else %>
                <%= render 'shared/flash_message' %>
              <% end %>
              <%= yield %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <footer>
      <%= render "shared/footer" %>
    </footer>ß
  </body>
</html>
